<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Github</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <link rel="stylesheet" href="index.css">

    <style>

    .date-selector {
            display: flex;
            align-items: center;
            text-align: center;
        }

        .date-selector select {
            margin-right: 50px;
        }

    </style>
</head>
<body style="background-image: url('srh.jpeg');
background-repeat: no-repeat;
background-size: cover;
text-align: center;">
    <!--<h1 style="color: rgb(43, 84, 208);">GitHub Repository Search</h1>-->
    <h1 style="color: rgb(43, 84, 208); padding: 10px;">Enter a Github repository name for analysis</h1>

    <div>
        <form action="/redirect" method="post">
            <p style="margin-left: 80px;">
                Owner:
            <input type="text" id="repo_owner" name="repo_owner" placeholder="Enter a GitHub repository owner" style="height: 25px; width: 250px;"></p>
            
            <p style="margin-left: 80px;">Name:
            <input type="text" id="repo_name" name="repo_name" placeholder="Enter the GitHub repository name" style="height: 25px; width: 250px;"></p>
            
            <p style="margin-left: 80px;">Start-Date:
            <input type="text" id="start_date" name="start_date" placeholder="Enter start date"></p>
            <p style="margin-left: 80px;"> End-Date:<input type="text" id="end_date" name="end_date" placeholder="Enter end date"></p>
            <br>    
            <button style="color: rgb(230, 232, 232); background-color: blue; margin-left: 80px;">Search</button>
        </form>
    </div>
</body>
</html>